@import '../presentation/variables'

.examenWrapper
  padding: 3rem
  background-color: $color-white
  border-radius: 20px
  margin: 20px
  box-shadow: 0 10px 30px rgba(0,0,0,0.1)
  font-family: $font-main

  // Sobreescribir el botón de SurveyJS 
  :global(.sd-btn--action)
    background-color: $color-gris-dark !important
    color: $color-white !important
    padding: 12px 35px !important
    border-radius: 8px !important
    font-weight: bold !important
    text-transform: uppercase !important
    transition: all 0.3s ease !important
    border: none !important
    
    &:hover
      background-color: $color-rojo-bright !important
      transform: translateY(-2px)
      box-shadow: 0 5px 15px rgba($color-rojo-bright, 0.3)

  // Color de los Radio Buttons y Checkboxes (Seleccionados)
  :global(.sd-item--checked .sd-radio__svg),
  :global(.sd-item--checked .sd-checkbox__svg)
    fill: $color-rojo-bright !important

  // Color de la barra de progreso
  :global(.sd-progress__bar)
    background-color: $color-rojo-bright !important

  // Ajuste de los títulos de las preguntas
  :global(.sd-question__title)
    color: $color-midnight !important
    font-size: 1.2rem !important
    font-weight: 700 !important
    margin-bottom: 1rem !important

  // Quitar el borde de las tarjetas de SurveyJS 
  :global(.sd-question)
    border: none !important
    background: transparent !important
    padding: 1.5rem 0 !important