// NOTA: No necesitas importar nada, Vite ya inyectó tus variables.

.appContainer
  display: flex
  flex-direction: column
  min-height: 100vh
  width: 100%
  background-color: var(--bg-app)

.mainWrapper
  width: 100%
  overflow: hidden
  
.contentArea
  flex: 1
  display: flex
  flex-direction: column
  width: 100%
  
  // Usamos $color-steel directamente desde variables.sass
  &::-webkit-scrollbar
    width: 8px
  &::-webkit-scrollbar-thumb
    background: $color-steel
    border-radius: 10px

.footer
  background-color: var(--bg-card)
  color: var(--text-main)
  display: flex
  justify-content: space-around
  align-items: center
  padding: 1.5rem
  border-top: 1px solid var(--border-color)
  margin-top: auto

.copyright
  font-weight: bold
  opacity: 0.8
  font-family: $font-main

.mapaLink
  color: var(--text-main)
  text-decoration: none
  font-weight: 900
  font-family: $font-main
  transition: color 0.2s ease
  
  &:hover
    // Usamos $color-red directamente
    color: $color-red

    :global(#root)
  display: flex
  width: 100%
  height: 100vh
  overflow: hidden // Evita que aparezca la doble barra de scroll

:global(.MuiBox-root)
  // Esto limpia cualquier margen que MUI meta por error en contenedores genéricos
  box-sizing: border-box