// sidebar.module.sass

.btnProgreso
  width: 100%
  font-size: 0.85rem
  padding: 12px
  margin-top: 10px
  display: flex
  align-items: center
  justify-content: center
  gap: 8px
  border: none
  cursor: pointer
  border-radius: 8px
  background-color: var(--primary-main) // Rojo Chakray
  color: white
  transition: all 0.3s ease

  // Cuando ya aprobaron, usamos el verde que acordamos
  &:global(.aprobado)
    background-color: #2ecc71
    box-shadow: 0 4px 0 #27ae60
    &:hover
      background-color: #27ae60

// Estilos globales para el Drawer de MUI
&:global(.aprobado)
    background-color: #2ecc71
    &:hover
      background-color: #27ae60

// Solo personaliza el scroll, no el ancho ni los márgenes
:global(.MuiDrawer-paper)
  &::-webkit-scrollbar
    width: 6px
  &::-webkit-scrollbar-thumb
    background: #49494A // Steel Grey
    border-radius: 10px

.navText
  font-family: $font-main
  font-weight: 500
  // En modo oscuro usamos blanco, en modo light el midnight
  color: var(--text-main) 
  white-space: nowrap // Importante para que el texto no salte de línea al contraerse