// MainContent.module.sass

.mainContainer
  flex: 1
  overflow-y: auto
  height: 100%
  background-color: var(--bg-app)
  scroll-behavior: smooth

  &::-webkit-scrollbar
    width: 8px
  &::-webkit-scrollbar-thumb
    background: $color-steel
    border-radius: 10px

.contentWrapper
  // Aumentamos el ancho máximo para Web
  max-width: 1400px // <--- Agrandamos el contenedor de 1000px a 1400px
  margin: 0 auto
  padding: 40px 20px 80px

.mainHeader
  margin-bottom: 30px
  animation: fadeIn 0.5s ease
  
  .categoryTag
    color: $color-red
    font-weight: 900
    text-transform: uppercase
    font-size: 0.8rem
    letter-spacing: 2px

  .topTitle
    font-size: 2.5rem
    color: var(--text-main)
    font-family: $font-bold
    margin-top: 10px

.viewerBlock
  background-color: var(--bg-card)
  border-radius: 15px
  padding: 20px
  border: 1px solid var(--border-color)
  box-shadow: 0 10px 30px rgba(0,0,0,0.1)
  margin-bottom: 40px

.viewerFrame
  width: 100%
  // CLAVE PARA EL TAMAÑO: Altura dinámica (ViewPort Height)
  height: 85vh // <--- Ocupará el 85% del alto de la pantalla total
  background-color: $color-midnight
  border-radius: 8px
  overflow: hidden
  margin-bottom: 20px
  border: 1px solid var(--border-color)

.pdfElement
  width: 100%
  height: 100%
  border: none

.navigationRow
  display: flex
  justify-content: space-between
  gap: 20px

.btnRegresar
  @extend .btn-secondary
  flex: 1
  max-width: 200px

.btnSiguiente
  @extend .btn-primary
  flex: 2
  max-width: 300px

.btnExamen
  @extend .btn-primary
  flex: 2
  max-width: 300px
  // Podrías añadir un brillo extra para el examen
  box-shadow: 0 0 15px rgba($color-red, 0.3)

.infoSection
  padding-top: 20px
  animation: fadeIn 0.8s ease

  .divider
    width: 60px
    height: 4px
    background-color: $color-red
    margin-bottom: 25px

  .subTitle
    color: var(--text-main)
    font-size: 1.5rem
    font-family: $font-bold
    margin-bottom: 15px

  .description
    color: var(--text-main)
    opacity: 0.8
    line-height: 1.8
    font-size: 1.1rem

.fullView
  width: 100%
  height: 100%
  overflow-y: auto
  animation: fadeIn 0.4s ease

// Al final de tu archivo MainContent.module.sass

@keyframes fadeIn
  from
    opacity: 0
    transform: translateY(10px)
  to
    opacity: 1
    transform: translateY(0)