// 1. Tipografía
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap')
$font-main: 'Roboto', sans-serif
$font-bold: 'Proxima Nova', sans-serif 

// 2. Paleta de Colores (Nombres descriptivos)
$color-midnight:  #111111
$color-rojo-bright: #E11F26
$color-gris-dark:   #49494A
$color-gris:        #878787
$color-gris-light:  #CCCCCC
$color-smokey-white:#EDEDED
$color-white:    #ffffff

// 3. Escala de Tamaños
$font-size-xs:   12px
$font-size-sm:   14px
$font-size-base: 16px
$font-size-md:   18px
$font-size-lg:   24px

// 4. Configuración de Componentes (Botones)
$btn-bg:          $color-gris-dark
$btn-bg-hover:    $color-rojo-bright
$btn-color:       $color-gris-light
$btn-padding:     12px 24px 
$btn-radius:      10px
$btn-transition:  all 0.3s ease


.btn-primary
    display: inline-block
    width: auto
    padding: $btn-padding
    background-color: $btn-bg
    color: $btn-color
    border: none
    border-radius: $btn-radius
    font-family: $font-main
    font-weight: bold
    font-size: $font-size-md
    text-align: center
    cursor: pointer
    transition: $btn-transition
    text-decoration: none 

    &:hover
        background-color: $btn-bg-hover
        transform: translateY(-3px)
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
        color: $color-white