@import ../presentation/variables

.container
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background-color: #f4f4f4

.card
  display: flex
  flex-direction: column
  align-items: center
  background: white
  padding: 30px
  border-radius: 20px
  box-shadow: 0 10px 35px rgba(0,0,0,0.1)
  width: 100%
  max-width: 500px
  text-align: center

.logoContainer
  width: 100%
  display: flex
  justify-content: center
  margin-bottom: 6rem 

.logo
  max-width: 250px 
  height: auto
  object-fit: contain
  margin-bottom: 10px
  

.form
  display: flex
  flex-direction: column

.inputGroup
  display: flex
  align-items: center
  background: #eee
  border-radius: 10px
  padding: 10px
  margin-bottom: 20px
  border: 1px solid transparent
  transition: border-color 0.3s

  &:focus-within
    border-color: #61001a

  input
    border: none
    background: none
    outline: none
    width: 100%
    padding-left: 12px
    
    // Estilo cuando hay error
    &.errorInput
      color: #49494A

.errorText
  color: #ff4d4d
  font-size: 0.8rem
  margin-top: -10px
  margin-bottom: 10px
  text-align: left

.btnAcceder
  @extend .btn-primary